@import url("https://fonts.googleapis.com/css?family=Kalam");
/*Colors used for circles*/
/*Colors for rainbow, grabbed on line 106 of style.scss*/
@-webkit-keyframes rainbow {
  0% {
    border-color: red;
  }
  100% {
    border-color: #4000ff;
  }
}
@keyframes rainbow {
  0% {
    border-color: red;
  }
  100% {
    border-color: #4000ff;
  }
}

/*Function grabs colors from the colors array*/
/*Mixins for responsive design;
used more frequently in earlier versions,
still used for responsive buttons*/
body,
html {
  height: 100%;
}

body {
  background-image: url("../images/background-img.jpg");
  font-family: 'Kalam', cursive;
  min-height: 100vh;
  margin: 0;
}

body .mobile-fonth1 {
  font-size: 1.5rem;
}

@media (min-width: 411px) {
  body .mobile-fonth1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1080px) {
  body .mobile-fonth1 {
    font-size: 4rem;
  }
}

body .mobile-fonth2 {
  font-size: 1.5rem;
}

@media (min-width: 411px) {
  body .mobile-fonth2 {
    font-size: 2rem;
  }
}

@media (min-width: 1080px) {
  body .mobile-fonth2 {
    font-size: 3rem;
  }
}

#container {
  /*Container styles for responsive design*/
  margin-bottom: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* Rainbow border*/
  border-radius: 10%;
  border: 20px solid red;
  -webkit-animation: rainbow 5s infinite alternate;
}

#container .grid-item {
  /*Use of the'!important' property is to override the base color with the active one*/
}

#container .grid-item .circle {
  height: 12vmin;
  width: 12vmin;
  min-height: 60px;
  min-width: 60px;
  border-radius: 50%;
  margin: 25px auto;
}

#container .grid-item .red {
  background-color: #ff0000;
}

#container .grid-item .red-active {
  border: solid 10px;
  background-color: #8b0000 !important;
}

#container .grid-item .blue {
  background-color: #0000ff;
}

#container .grid-item .blue-active {
  border: solid 10px;
  background-color: #003366 !important;
}

#container .grid-item .yellow {
  background-color: #ffff00;
}

#container .grid-item .yellow-active {
  border: solid 10px;
  background-color: #CCCC00 !important;
}

#container .grid-item .green {
  background-color: #008000;
}

#container .grid-item .green-active {
  border: solid 10px;
  background-color: #006400 !important;
}

#container .grid-item .orange {
  background-color: #ffa500;
}

#container .grid-item .orange-active {
  border: solid 10px;
  background-color: #EE7600;
}

#container .grid-item .pink {
  background-color: #ff69b4;
}

#container .grid-item .pink-active {
  border: solid 10px;
  background-color: #e75480 !important;
}

#container .grid-item .purple {
  background-color: #7d7dde;
}

#container .grid-item .purple-active {
  border: solid 10px;
  background-color: #551A8B !important;
}

#container .grid-item .lblue {
  background-color: #7dccde;
}

#container .grid-item .lblue-active {
  border: solid 10px;
  background-color: #000080 !important;
}

#container .grid-item .lgreen {
  background-color: #75e075;
}

#container .grid-item .lgreen-active {
  border: solid 10px;
  background-color: #8BA870 !important;
}

@media (min-width: 411px) {
  .btn {
    padding: 10px 10px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 5px;
  }
}

@media (min-width: 1080px) {
  .btn {
    padding: 15px 15px;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 8px;
  }
}
/*# sourceMappingURL=style.css.map */