@import url("https://fonts.googleapis.com/css?family=Kalam");
$bg: url("../images/background-img.jpg");

/*Colors used for circles*/
$colors:(red:#ff0000,
darkRed:#8b0000,
blue:#0000ff,
darkBlue:#003366,
yellow:#ffff00,
darkYellow:#CCCC00,
green:#008000,
darkGreen:#006400,
orange:#ffa500,
darkOrange:#EE7600,
pink:#ff69b4,
darkPink:#e75480,
purple:#7d7dde,
darkPurple:#551A8B,
lightBlue:#7dccde,
navy:#000080,
lightGreen:#75e075,
soylentGreen:#8BA870);

/*Colors for rainbow, grabbed on line 106 of style.scss*/
@keyframes rainbow {
  0% {
    border-color: hsl(0, 100%, 50%);
  }
  100% {
    border-color: hsl(255, 100%, 50%);
  }
}

/*Function grabs colors from the colors array*/

@function color($circle-colors) {
  @return map-get($colors,
  $circle-colors)
}

/*Mixins for responsive design;
used more frequently in earlier versions,
still used for responsive buttons*/

$phonetolaptop: 411px;

@mixin phonetolaptop {
  @media (min-width:#{$phonetolaptop}) {
    @content;
  }
}

$desktop: 1080px;

@mixin desktop {
  @media (min-width:#{$desktop}) {
    @content;
  }
}

body,
html {
  height: 100%;
}

body {
  background-image: $bg;
  font-family: 'Kalam', cursive;
  min-height: 100vh;
  margin: 0;

  .mobile-fonth1 {
    font-size: 1.5rem;

    @include phonetolaptop {
      font-size: 2.5rem;
    }

    @include desktop {
      font-size: 4rem;
    }
  }

  .mobile-fonth2 {
    font-size: 1.5rem;

    @include phonetolaptop {
      font-size: 2rem;
    }

    @include desktop {
      font-size: 3rem;
    }
  }
}

#container {
  /*Container styles for responsive design*/
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  /* Rainbow border*/
  border-radius: 10%;
  border: 20px solid hsl(0, 100%, 50%);
  -webkit-animation: rainbow 5s infinite alternate;

  .grid-item {
    .circle {
      height: 12vmin;
      width: 12vmin;
      min-height: 60px;
      min-width: 60px;
      border-radius: 50%;
      margin: 25px auto;
    }

    .red {
      background-color: color(red);
    }
    /*Use of the'!important' property is to override the base color with the active one*/
    .red-active {
      border: solid 10px;
      background-color: color(darkRed) !important;
    }

    .blue {
      background-color: color(blue);
    }

    .blue-active {
      border: solid 10px;
      background-color: color(darkBlue) !important;
    }

    .yellow {
      background-color: color(yellow);
    }

    .yellow-active {
      border: solid 10px;
      background-color: color(darkYellow) !important;
    }

    .green {
      background-color: color(green);
    }

    .green-active {
      border: solid 10px;
      background-color: color(darkGreen) !important;
    }

    .orange {
      background-color: color(orange);
    }

    .orange-active {
      border: solid 10px;
      background-color: color(darkOrange);
    }

    .pink {
      background-color: color(pink);
    }

    .pink-active {
      border: solid 10px;
      background-color: color(darkPink) !important;
    }

    .purple {
      background-color: color(purple);
    }

    .purple-active {
      border: solid 10px;
      background-color: color(darkPurple) !important;
    }

    .lblue {
      background-color: color(lightBlue);
    }

    .lblue-active {
      border: solid 10px;
      background-color: color(navy) !important;
    }

    .lgreen {
      background-color: color(lightGreen);
    }

    .lgreen-active {
      border: solid 10px;
      background-color: color(soylentGreen) !important;
    }
  }
}

.btn {
  @include phonetolaptop {
    padding: 10px 10px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 5px;
  }

  @include desktop {
    padding: 15px 15px;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 8px;
  }
}
