body,
html {
  height: 100%;
}

body {
  background-image: url("../images/background-img.jpg");
  font-family: 'Kalam', cursive;
  min-height: 100vh;
  margin: 0;
}

body .mobile-fonth1 {
  font-size: 1.5rem;
}

@media (min-width: 411px) {
  body .mobile-fonth1 {
    font-size: 2.5rem;
  }
}

@media (min-width: 1080px) {
  body .mobile-fonth1 {
    font-size: 4rem;
  }
}

body .mobile-fonth2 {
  font-size: 1.5rem;
}

@media (min-width: 411px) {
  body .mobile-fonth2 {
    font-size: 2rem;
  }
}

@media (min-width: 1080px) {
  body .mobile-fonth2 {
    font-size: 3rem;
  }
}

body .container .row .flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style-type: none;
}

body .container .row .flex-container .red {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #ff0000;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .red {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .red {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .red-active {
  background-color: darkred !important;
}

body .container .row .flex-container .blue {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #0000ff;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .blue {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .blue {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .blue-active {
  background-color: darkblue !important;
}

body .container .row .flex-container .yellow {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #ffff00;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .yellow {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .yellow {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .yellow-active {
  background-color: #e6d47e !important;
}

body .container .row .flex-container .green {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #008000;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .green {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .green {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .green-active {
  background-color: darkgreen !important;
}

body .container .row .flex-container .orange {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #ffa500;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .orange {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .orange {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .orange-active {
  background-color: darkorange;
}

body .container .row .flex-container .pink {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #ff69b4;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .pink {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .pink {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .pink-active {
  background-color: palevioletred !important;
}

body .container .row .flex-container .purple {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #7d7dde;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .purple {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .purple {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .purple-active {
  background-color: #7b007b !important;
}

body .container .row .flex-container .lblue {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #7dccde;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .lblue {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .lblue {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .lblue-active {
  background-color: blue !important;
}

body .container .row .flex-container .lgreen {
  height: 60px;
  width: 60px;
  margin: 15px;
  background-color: #75e075;
  border-radius: 50%;
}

@media (min-width: 411px) {
  body .container .row .flex-container .lgreen {
    height: 100px;
    width: 100px;
    margin: 15px;
  }
}

@media (min-width: 1080px) {
  body .container .row .flex-container .lgreen {
    height: 150px;
    width: 150px;
    margin: 25px;
  }
}

body .container .row .flex-container .lgreen-active {
  background-color: lightseagreen !important;
}

@media (min-width: 411px) {
  body .btn {
    padding: 10px 10px;
    font-size: 2rem;
    line-height: 1.2;
    margin: 5px;
  }
}

@media (min-width: 1080px) {
  body .btn {
    padding: 15px 15px;
    font-size: 2.5rem;
    line-height: 1.5;
    margin: 8px;
  }
}
/*# sourceMappingURL=style.css.map */